/* Define some basic styles */
body {
    font-family: "Gill Sans", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

body {
    background-image: url("assets/v748-toon-107.jpg");
}

header {
    background-color: rgb(194, 11, 11);
    padding: 20px;
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
    font-weight: 650;
    color: rgb(35, 34, 34);
    margin-top: 230px;
}

h2 {
    font-size: 2em;
    font-weight: 700;
    color: rgb(0, 153, 153);
    margin-top: 150px;
}

h3 {
    font-size: 1.5em;
    font-weight: 700;
    color: rgb(0, 153, 153);
    margin-top: 60px;
    height: 100px;
}

p {
    margin-top: 0;
}

li {
    font-size: 1em;
    font-weight: 300;
    color: rgb(0, 0, 0);
    text-align: left;
    margin: 0;
    padding: 0;
}