{% extends 'base.html' %}

{% block title %}{% if ip_addr %}Error for {{ ip_addr }}{% else %}Enter an IP address{% endif %}{% endblock %}

{% block header %}<h1>Data recovery</h1>{% endblock %}

{% block content %}
<div class="content">
    <div class="result">
        <p><strong>Result for {{ ip_addr }}</strong></p>
        <p style="color:red">Address not on the network</p>
    </div>
    <div class="form">
        <form method="post">
            <label for="ip_addr">Enter an IP address : </label>
            <input type="text" id="ip_addr" name="ip_addr" required>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}