{% extends 'base.html' %}

{% block title %}Revovery{% endblock %}

{% block header %}<h1>Data recovery</h1>{% endblock %}

{% block content %}
<div class="content">
    <div class="result">
        {% if result %}
        <p><strong>{% if ip_addr %}Result for {{ ip_addr }}{% endif %}</strong></p>
        <pre>{{ result }}</pre>
        {% endif %}
    </div>
    <div class="form">
        <form method="post">
            <label for="ip_addr">Enter an IP address : </label>
            <input type="text" id="ip_addr" name="ip_addr" required>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}