{% extends 'base.html' %}

{% block title %}Test{% endblock %}

{% block header %}<h1>Test part</h1>{% endblock %}

{% block content %}

<div class="content">
    <div class="form">
        <form method="post">
            <label for="num_addr">Select number of IP Addresses:</label>
            <select id="num_addr" class="small" name="num_addr" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select><br><br>
            <div id="ip-inputs">
                <div id="ip-input" class="ip-input">
                    <label for="ip_addr_1">IP address 1 →</label>
                    <input type="text" id="ip_addr_1" name="ip_addr_1" required>
                    <label for="ip_addr_1">, pressure value →</label>
                    <input type="text" class="small" id="pressure_1" name="pressure_1" required>
                    <label for="unit_1"></label>
                    <select id="unit_1" name="unit_1" required>
                        <option value="Pa">Pa</option>
                        <option value="bar">bar</option>
                    </select>
                </div>
                <div id="ip-input-2" class="ip-input" style="display: none;">
                    <label for="ip_addr_2">IP Address 2 →</label>
                    <input type="text" id="ip_addr_2" name="ip_addr_2">
                    <label for="ip_addr_1">, pressure value →</label>
                    <input type="text" class="small" id="pressure_2" name="pressure_2" required>
                    <label for="unit_2"></label>
                    <select id="unit_2" name="unit_2" required>
                        <option value="Pa">Pa</option>
                        <option value="bar">bar</option>
                    </select>
                </div>
                <div id="ip-input-3" class="ip-input" style="display: none;">
                    <label for="ip_addr_3">IP Address 3 →</label>
                    <input type="text" id="ip_addr_3" name="ip_addr_3">
                    <label for="ip_addr_1">, pressure value →</label>
                    <input type="text" class="small" id="pressure_3" name="pressure_3" required>
                    <label for="unit_3"></label>
                    <select id="unit_3" name="unit_3" required>
                        <option value="Pa">Pa</option>
                        <option value="bar">bar</option>
                    </select>
                </div>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>

<script>
    const numAddrSelect = document.querySelector('#num_addr');
    const ipInputs = document.querySelectorAll('.ip-input');

    // Add event listener to num_addr select element
    numAddrSelect.addEventListener('change', () => {
        const numAddr = numAddrSelect.value;
        showIpInputs(numAddr);
    });

    // Show or hide the appropriate number of IP address input fields
    function showIpInputs(numAddr) {
        ipInputs.forEach((input, i) => {
            if (i < numAddr) {
                input.style.display = 'block';
            } else {
                input.style.display = 'none';
            }
        });
    }
</script>

{% endblock %}